<%- include('partials/head') %>

<%- include('partials/navbar') %>

<h1> The Home Page <%= 1 + 9 %> <%=  'hello world'.toUpperCase() %> </h1>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id ea harum fugiat eum quae eveniet commodi eligendi
    error quasi, ullam dolorem inventore vero minus quibusdam eius totam officiis accusamus cupiditate.</p>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed, maiores? Perspiciatis sequi, animi assumenda
    deserunt exercitationem, corrupti at beatae asperiores ipsum consectetur soluta magnam cum ab! Fugiat at
    deleniti ipsum?</p>

<%- include('partials/footer') %>